div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7cfff;
}

ul{
  list-style-type:disc;
    padding: 30px;
}

h1{
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 36px;
  padding: 30px;
}

input{
  padding: 10px;
  margin: 10px;
  border: 2px solid #9e69ee;
  border-radius: 4px;
}